.label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    cursor: pointer;
}

.spanClassName {
    font-size: 16px;
}