.select {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    min-width: 150px;
    cursor: pointer;
}

.option {
    padding: 10px;
}